<div class="row subscriptions">
  <div class="col-md">
    <div class="card">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">The Starter Pack</h5>
        <ul>
          <li>Unlimited Searches</li>
        </ul>
        <p class="card-text price">£8.99</p>
        
        <button id="purchase" class="btn btn-primary">Buy Now</button>
        <img src="https://www.logo.wine/a/logo/Stripe_(company)/Stripe_(company)-Powered-by-Stripe-Outline-Logo.wine.svg" width="120" class="d-block mx-auto">
      </div>
    </div>
  </div>
</div>

<script src="//js.stripe.com/v3/"></script>
<script src="/js/stripe.js"></script>