<%- include('partials/header') %>

<div class="page">
  <div class="header">
    <div class="container">
      <h1 class="h6 subtitle">CONTACT US</h1>
      <h2 class="h1 title">Let Us Know How We Can Help You</h2>
      <p class="text-white">Do not get stuck. We're here to help you.</p>
    </div>
  </div>

  <div class="container px-md-5 my-5 text-center">
    <p class="lead mb-0">AI Leads is changing the world in identifying people looking for marketing ideas and leads. With a single click, you can download your entire competition's marketing strategy and generate leads. </p>
  </div>

  <div class="container my-5 content-block px-md-5">
    <form>
      <div class="form-row mb-3">
        <div class="col">
          <label>Full Name</label>
          <input class="form-control" name="name" />
        </div>
        <div class="col">
          <label>Email Address</label>
          <input class="form-control" name="email" />
        </div>
      </div>
      <div class="form-row mb-3">
        <div class="col">
          <label>Message</label>
          <textarea class="form-control" name="message"></textarea>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Send Message</button>
      </div>
    </form>
  </div>
</div>

<%- include('partials/footer') %></div>