<%- include('partials/header') %>

<div class="page">
  <div class="header">
    <div class="container">
      <h1 class="h6 subtitle">WELCOME TO AI LEADS</h1>
      <h2 class="h1 title">The Future In Online Marketing</h2>
      <p class="text-white">AI latest technology is changing the market, that will allow you to quickly identify key advertisers in Google Ads, Bing and Yahoo in one click and even picks up shopping advertisers.</p>
    </div>
  </div>

  <div class="container px-md-5 my-5 text-center">
    <p class="lead mb-0">Generate more leads by using Artificial Intelligence to see which companies are advertising under your target industry.</p>
  </div>

  <div class="container my-5 content-block px-md-5">
    <div class="row">
      <div class="col-md">
        <img src="/images/ai-leads-rocket.png" class="w-100" />
      </div>
      <div class="col-md-8 d-flex flex-column justify-content-center pl-md-5">
        <h6 class="h6 subtitle">WHAT IS AI LEADS?</h6>
        <h2 class="h2 title">Get a copy of the ads, URL and keyword within 3 mins, 100s of advertisers.</h2>
        <p class="content">
          Artificial intelligence (AI) is a powerful technology that looks to revolutionize a range of industries in the years to come. Coupled with machine learning, AI isn’t just about predicting stocks or facilitating client chats but can create better lead generation and sales as well.
        </p>
        <p class="mb-0">
          <a href="#" class="btn btn-light">Get Started</a>
        </p>
      </div>
    </div>
  </div>

  <div class="container my-5 content-block px-md-5 text-center">
    <h6 class="h6 subtitle">FEATURES</h6>
    <h2 class="h2 title">We're the right choice for your research</h2>
    <div class="row features">
      <div class="col-md">
        <div class="container feature">
          <i class="fal fa-user-circle icon"></i>
          <h5 class="h5 title">Real-time Customer Profiles</h5>
          <p class="content">The system was able to generate relevant customer information in real-time.</p>
        </div>
      </div>
      <div class="col-md">
        <div class="container feature">
          <i class="fal fa-clipboard-check icon"></i>
          <h5 class="h5 title">Lead Generation</h5>
          <p class="content">Whether you’re a fully-fledged online store, or just have a website for informational purposes, AI is a must for you.</p>
        </div>
      </div>
      <div class="col-md">
        <div class="container feature">
          <i class="fal fa-brain icon"></i>
          <h5 class="h5 title">Consumer Behavior</h5>
          <p class="content">Just a few of the ways in which AI can have a positive impact on lead generation.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container my-5 content-block px-md-5">
    <div class="row">
      <div class="col-md-8 d-flex flex-column justify-content-center pl-md-5">
        <h6 class="h6 subtitle">SUBSCRIPTIONS</h6>
        <h2 class="h2 title">Choosing a plan that's right for you</h2>
        <p class="content">
          Come out on top with our most premium selection on Subscription plans. Choose the plan that is right for you and always be on top of your game.
        </p>
        <p class="mb-0">
          <a href="#" class="btn btn-light">Get Started</a>
        </p>
      </div>
      <div class="col-md">
        <img src="/images/ai-leads-podium.png" class="w-100" />
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %></div>