<%- include('partials/header') %>

<div class="page">
  <div class="header">
    <div class="container">
      <h1 class="h6 subtitle">PRICING</h1>
      <h2 class="h1 title">Flexible Plans, Just For You</h2>
      <p class="text-white">Don't feel strong-armed into purchasing the most expensive plan. One plan to rule them all.</p>
    </div>
  </div>

  <div class="container px-md-5 my-5 text-center">
    <p class="lead mb-0">AI Leads is taking a front to how payment plans are made available to everyone. Do not feel forced into a higher price for a higher return.</p>
  </div>

  <div class="container my-5 content-block px-md-5">
    <div class="row">
      <div class="col-md">
        <img src="/images/ai-leads-rocket.png" class="w-100" />
      </div>
      <div class="col-md-8 d-flex flex-column justify-content-center pl-md-5">
        <h6 class="h6 subtitle">HOW WE GET STARTED</h6>
        <h2 class="h2 title">Creating your account</h2>
        <p class="content">
          AI Leads technology can identify all advertisers on the major search engines under any keyword you type in the records are yours forever with our download option.
        </p>
        <p class="mb-0">
          <a href="#" class="btn btn-light">Get Started</a>
        </p>
      </div>
    </div>
  </div>

  <div class="container my-5 content-block px-md-5 text-center">
    <h6 class="h6 subtitle">SUBSCRIPTIONS</h6>
    <h2 class="h2 title">Choose the right plan for you</h2>
    <div class="row features">
      <div class="col-md">
        <div class="container feature">
          <i class="fal fa-rabbit-fast icon"></i>
          <h5 class="h5 title">Blazing Fast Results</h5>
          <p class="content">Built on the latest technologies, AI Leads will provide you results in seconds!</p>
        </div>
      </div>
      <div class="col-md">
        <div class="container feature">
          <i class="fal fa-clipboard-check icon"></i>
          <h5 class="h5 title">Flexbile Plans</h5>
          <p class="content">We want you to have the perfect options available at all times!</p>
        </div>
      </div>
      <div class="col-md">
        <div class="container feature">
          <i class="fal fa-file-archive icon"></i>
          <h5 class="h5 title">Download &amp; Keep</h5>
          <p class="content">What you export are yours forever! Never lose your files to payment walls.</p>
        </div>
      </div>
    </div>
  </div>

<%- include('partials/footer') %></div>