<%- include('partials/header') %>

<div class="container-fluid">
  <div class="row">
    <%- include('partials/sidebar') %>
    <div class="col">
      <div class="container p-4">
        <h2>Support</h2>
        <p>Getting help is easy.</p>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>