<%- include('../partials/header') %>

<div class="container-fluid">
  <div class="row">
    <%- include('../partials/sidebar') %>
    <div class="col">
      <div class="container p-4">
        <h1>Purchase Successful</h1>
        <p>Your purchase was successful! Welcome to AI Leads.</p>
        <a href="/dashboard" class="btn btn-primary">Go To Dashboard</a>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>